.footer {
   padding: 2rem;
   width: 100%;
   height: 22vh;
   text-align: center;
   background-color: $clr-blue-bg;
   .footer-title {
      color: $clr-white;
      font-size: 15px;
   }
   @media screen and (max-width: 800px){
      padding-bottom: 15rem;
      background-color: $clr-primary;
      .footer-title {
         color: $clr-white;
      }
   }  
}